<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<h6> </h6>
		<div class='containershow'>
			<h6>
				<a class='projectname' href='<%=Projects.url; %>'><%=Projects.name; %></a>
			</h6>
				<a href='<%=Projects.url; %>'>
				<img class='showimg' src='<%=Projects.img%>'/>
				</a>
		</div>
		 <button>
			<!-- delete form here before closing li -->
			<!--make action delete with method override -->
						<form action='/projects/<%=Projects.id; %>?_method=DELETE' method='POST'>
							<input type='submit' value='Delete'  />
						</form>
		</button>
			<a class="backtoprojects" href='/projects'>Back to Projects</a>
		<footer>
			<% include ../partials/footer.ejs %>
		</footer>
	</body>
</html>
